#main {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}


body {
    padding: 0;
    margin: 0;
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    background-color: yellow;
    margin: 0 auto;
    padding: 10px;
}

#image {
    max-width: 100%;
    height: auto;
    text-align: center;
    border: 5px solid yellow;
  }
  
figure#img-div {
    text-align: center;
  }

div#tribute-info {
    padding: 20px;
    width: 70%;
}

  
  ol#time-line {
    display: inline;
    text-align: left;
    overflow: hidden;
  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }

  div#tribute-link {
    text-align: center;
    font-weight: 500;
    padding-bottom: 20px;
  }

  a {
    color: black;
  }

a:hover {
    color: rgb(117, 108, 28);
}
